.hello {
    position: fixed;
    /**
     * <meta name="theme-color" content="#36c">`.
     */
    background-image: linear-gradient(90deg, #36c, #131313, 33%, #36c);
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: env(titlebar-area-width, 100%);
    height: env(titlebar-area-height, 33px);
  }
  .hello {-webkit-app-region: drag; }

  #searchbox {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }