.hello {
    position: fixed;
    /**
     * <meta name="theme-color" content="#36c">`.
     */
    background-image: linear-gradient(90deg, #36c, #131313, 33%, #36c);
    position: absolute;
    left: env(titlebar-area-x);
    top: env(titlebar-area-y);
    height: env(titlebar-area-height);
    width: env(titlebar-area-width);
    -webkit-app-region: drag;
}
  


  #searchbox {
    float: right;
    padding: 6px;
    border: blue;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 8px;
    width: 500px;
  }